.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    color: white;
    position: relative;
    letter-spacing: 3px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% - 200px);
        width: 400px;
        height: 2px;
        background: #a5e2e6;
    }

    &__firstName {
        font-size: 36px;
        width: 51%;
        align-self: flex-start;
        text-align: end;
        animation-name: firstName;
        animation: firstName ease 1s;

    }
    &__lastName {
        font-size: 36px;
        width: 51%;
        align-self: flex-end;
        text-align: start;
        animation-name: lastName;
        animation: lastName ease 1s;
    }
    &__spec {
        padding-top: 10px;
        font-size: 18px;
        animation-name: fadeIn;
        animation: fadeIn ease 2s;
    }
}

@keyframes firstName {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 51%;
        opacity: 1;
    }
}

@keyframes lastName {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 51%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}