@use '../../styles/mixins.scss';

.tweet {
  @include mixins.input-style;
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  &__abbr {
    @include mixins.avatar-style;
    margin-right: 20px;
  }
}