.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__content {
    width: 500px;
    border: 6px solid #5b9aa0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;

    &--text {
      font-size: 16px;
    }
  }
}