@use '../../styles/mixins.scss';

.tweets {
  &__wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 100px;

    > div {
      overflow-y: auto;
      height: 500px;
    }

    form {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-end
    }
  }
  
  &__textarea {
    @include mixins.input-style;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
  }
}