@use '../../styles/mixins.scss';

.form-input {
  @include mixins.input-style;
  margin-bottom: 30px;
  line-height: 36px;
  outline: none;
  width: 100%;
}

.error-input {
  border-color: #c83349;
}

.error-text {
  color: #c83349;
  position: absolute;
  top: -20px;
}