.form-input {
  margin-bottom: 30px;
  line-height: 36px;
  border: 4px solid #b8a9c9;
  border-radius: 4px;
  background: #d6d4e0;
  font-size: 16px;
  outline: none;
  width: 100%;
  &::placeholder {
    font-size: 16px;
  }
}

.error-input {
  border-color: #c83349;
}

.error-text {
  color: #c83349;
  position: absolute;
  top: -20px;
}