@use '../../styles/variables.scss';

.form-button {
  background: variables.$dark-purple;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}